* {
    padding: 0;
    margin: 0;
    font-family: 'sans-serif';
}
/* side menu */
#menu {
    position: fixed;
}
#close {
    color: #9E9E9E;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
div.bar {
        width: 25px;
        height: 4px;
        background-color: #9E9E9E;
        margin: 5px 0;
        border-radius: 2px;
}
#menu-container {
    width: 80vw;
    max-width: 300px;
    box-shadow: 0 0 10px #cccccc;
    height: 100vh;
    padding: 20px;
}
ul {
    list-style: none;
}
li.menu-li {
    margin: 10px 0;
}
#hamburger {
    padding: 15px;
    position: absolute;
}


#close-icon {
    margin-left: 15px;
}
.line {
    border-top: 1px solid #FFCC00;
    width: 200px;
}
/* main */
main {
    text-align: center;
}
/* message / type of fast selector */
#fasting-type {
    position: relative;
    width: 100vw;
    margin: 35px auto;
    text-align: center;
}
#type-selector {
    margin-top: 10px;
    width: 100px;
    padding: 5px 5px 5px 20px;
    border-radius: 3px;
    border: 1px solid #FFCC00;
}
.fast-type {
    padding-left: 15px;
}
/* timer display */
#circle-container {
    width: 300px;
    height: 300px;
}
#progress {
    height: 300px;
}
.progress > svg {
    height: 100%;
    display: block;
}
#timer {
    margin: 30px;
}
/* start and finish times */
#start-finish-times {
    display: flex;
    justify-content: space-around;
}
.edit-time-container {
    display: flex;
    justify-content: space-between;
}
/* button */
#start-end-btn {
    background-color: #FFCC00;
    border: none;
    outline: none;
    color: #ffffff;
    font-weight: bold;
    padding: 8px;
    width: 150px;
    border-radius: 5px;
    margin: 25px 0;
}
/* weekly progress */
#weekly-progress-container {
    box-shadow: 0 0 10px #cccccc;
    border-radius: 15px;
    overflow: hidden;
    padding: 15px;
}